<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="blog" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title> Certify Blog </title>
    {% load static %}
    <script src="{% static 'Me_app/js/script.js' %}"></script>
    <style>
        .btn {
            background-color: DodgerBlue;
            border: none;
            color: white;
            padding: 12px 16px;
            font-size: 16px;
            cursor: pointer;
        }

        /* Darker background on mouse-over */
        .btn:hover {
            background-color: RoyalBlue;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="w3-panel w3-topbar w3-bottombar w3-border-orange w3-pale-red w3-panel w3-padding-bottom-20 ">
            <h1 class="mt-5">Pathway of High School Graduates with Certification</h1>
        </div>
        <div>
            <img src="{% static 'images/blog3.jpg' %}" class="" style="width:60%; height:60%; "></img>
        </div>
        <div class="ml-5">
            <p class="mt-5"><strong>In today’s job market, jobs that do not require a college degree are on the,
                    rise.</strong> According to the
                Bureau of
                Labor Statistics Occupational Handbook, many of the fastest-growing jobs through 2024 will be in CTE
                fields.
                In fact, many high-demand careers require certifications instead. This is great news for high
                school
                students who want options other than going straight into post-secondary education. In a high school
                CTE
                program, students can work toward a certification in many fields, such as Certified Nursing
                Assistant
                or Welder, while they are earning their high school diploma. This gives those students the
                opportunity
                to
                embark on a career right after high school. In many cases, these certifications can give students
                an
                advantage over other applicants in the job market. </p>
            <p>CTE programs across the country are increasing their offering of programs that can lead to
                certification.
                Some of these programs are state-specific.Many of these certifications are nationally recognized or
                recognized in multiple states, allowing students to find a job in their area or nationwide.</p>
            <p>Let’s look at one specific program, the Certified Nursing Assistant (CNA) certification, which is
                accepted in 23 states through the National Nurse Aid Assessment Program (NNAAP) exam. CNA programs
                are
                in high demand nationwide in high school as well as post-secondary education because of the
                expected
                job growth over the next ten years. With an aging baby boomer population, CNA job outlook is
                expected to
                grow faster than the average job outlook.</p>
            <p>The NNAAP exam consists of two parts:<br>
                <ul style="list-style-type: square; color: blue;">
                    <li>A multiple-choice test consisting of 70 items (which can be taken<br> through written oral
                        examination), and</li>
                    <li>A skills evaluation, in which students are tested on the practical training they have been
                        given.
                    </li>
                </ul>
            </p>
            <p>Both parts of the NNAAP exam cover 3 content domains – physical care skills, psychosocial care skills,
                and
                the role of a nurse aide. An acceptable score on the test results in a CNA certification in one of
                the
                23 states that accepts this certification.</p>
            <p>Before students can sit for the exam, they must participate in both classroom and practical training
                hours. Classroom hours are dedicated to learning the concepts and vocabulary used in the practical
                training hours. Classroom hours are not limited to live instruction. In fact, virtual instruction
                can be beneficial to students living in rural areas or in areas missing that expertise in their
                district. Expectations vary by states as to exactly how many classroom and practical training hours
                are
                required, but at least 40 hours of practical training are expected.</p>
            <p>The goal of these instructional and practical training hours is to prepare the students not only to
                pass
                their NNAAP exam but also to excel as a CNA upon receipt of their certification. Once students
                receive
                their certification,they can begin their career as a Certified Nursing Assistant. A CNA
                certification can also be used as a stepping stone to other careers in the healthcare field, such as
                Registered Nurses (RNs) or Licensed Practical Nurses(LPNs).</p>
            <p>Students who are entering the workforce right after high school graduation can utilize the Certified
                Nursing Assistant certification, or many other certifications offered in their state and nationwide,
                to
                help them begin the career of their choosing upon graduation. And Edmentum’s suite of CTE courses
                can
                help students to determine the right career for them and get them started down that pathway to
                certification! <a href="/" class="up" id="return">Return</a>
        </div>
    </div>
</body>

</html