<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>document.getElementsByTagName("html")[0].className += " js";</script>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>FAQ</title>
</head>

<body>
    <header class="cd-header flex flex-column flex-center">
        <div class="text-component text-center">
            <h1><u>Certify Me FAQs</u></h1>
        </div>
    </header>

    <section class="cd-faq js-cd-faq container max-width-md margin-top-lg margin-bottom-lg">
        <ul class="cd-faq__categories">
            <li><a class="cd-faq__category truncate" href="#certificate">Certificate of Completion</a></li>
            <li><a class="cd-faq__category truncate" href="#account">Account</a></li>
            <li><a class="cd-faq__category truncate" href="#payments">Certify Me Requirements</a></li>
            <li><a class="cd-faq__category truncate" href="#privacy">Overview</a></li>
        </ul> <!-- cd-faq__categories -->

        <div class="cd-faq__items">
            <ul id="basics" class="cd-faq__group">
                <li class="cd-faq__title">
                    <h2>Certificate of Completion</h2>
                </li>
                <li class="cd-faq__item">
                    <a class="cd-faq__trigger" href="#0"><span>What is a certificate of completion?</span></a>
                    <div class="cd-faq__content">
                        <div class="text-component">
                            <p>Generally certificates of completion are used for students with Individualized Education
                                Plans (IEPs) who have not met state graduation requirements but still want to
                                participate in graduation ceremonies with their class. Below are some important facts
                                about certificates of completion:</p>
                            <ul style="list-style-type: square; color:black;">
                                <li>A certificate of completion, or its equivalent, is not an academic credential, but
                                    certifies attendance in high school.</li>
                                <li>They cannot be used as a prerequisite to admission to a postsecondary institution,
                                    or any other program that requires a high school degree.</li>
                                <li>Recipients of certificates are not prevented from returning to receive a full
                                    diploma or high school equivalency degree.</li>
                                <li>Information about state graduation requirements and certificate policies can be
                                    found by contacting your <a
                                        href="https://www2.ed.gov/about/contacts/state/index.html?src=contact-us">state
                                        department of education.</a></li>
                            </ul>
                        </div>
                    </div> <!-- cd-faq__content -->
                </li>

                <li class="cd-faq__item">
                    <a class="cd-faq__trigger" href="#0"><span>How do I sign up?</span></a>
                    <div class="cd-faq__content">
                        <div class="text-component">
                            <p>You simply go to <a href="Certifyme.com">Certify Me </a>website to apply. You can create
                                a profile page to be able to keep up information being posted about the different
                                certifications and apply to a certification program. </p>
                        </div>
                    </div> <!-- cd-faq__content -->
                </li>

                <li class="cd-faq__item">
                    <a class="cd-faq__trigger" href="#0"><span>How are the certifications offered?</span></a>
                    <div class="cd-faq__content">
                        <div class="text-component">
                            <p>Certify Me have many options of working around the students schedule. The program classes
                                are offered on online, in-person on school's site. The class hours in-person are offered
                                weekdays in the evening Monday-Friday and on weekends morning, afternoon , and evenings.
                            </p>
                        </div>
                    </div> <!-- cd-faq__content -->
                </li>

                <li class="cd-faq__item">
                    <a class="cd-faq__trigger" href="#0"><span>How long are the Certify Me programs?</span></a>
                    <div class="cd-faq__content">
                        <div class="text-component">
                            <p>Certify Me programs are short-term to long-term. Short-term can be anywhere from 3 months
                                to 6 months. Long-term program can be anywhere from 1 year to 2 years, with great end
                                rewarding benefits.</p>
                        </div>
                    </div> <!-- cd-faq__content -->
                </li>
            </ul> <!-- cd-faq__group -->

            <ul id="account" class="cd-faq__group">
                <li class="cd-faq__title">
                    <h2>Account</h2>
                </li>
                <li class="cd-faq__item">
                    <a class="cd-faq__trigger" href="#0"><span>How do I change my password?</span></a>
                    <div class="cd-faq__content">
                        <div class="text-component">
                            <ol>
                                <li>Open your Certify Me Account. You might need to sign in.</li>
                                <li>Under "Security," select Signing in to Cerfity Me.</li>
                                <li>Choose Password. You might need to sign in again.</li>
                                <li>Enter your new password, then select Change Password.</li>
                            </ol>
                        </div>
                    </div> <!-- cd-faq__content -->
                </li>

                <li class="cd-faq__item">
                    <a class="cd-faq__trigger" href="#0"><span>How do I delete my account?</span></a>
                    <div class="cd-faq__content">
                        <div class="text-component">
                            <ol>
                                <li>Go to the Delete Your Account page. If you're not logged into Certify Me on the web,
                                    you'll be asked to log in first. You can't delete your account from within the
                                    Certify Me app.</li>
                                <li>Select an option from the drop-down menu next to Why are you deleting your account?
                                    and re-enter your password. The option to permanently delete your account will only
                                    appear after you've selected a reason from the menu.</li>
                                <li>Click or tap Permanently delete my account.</li>
                            </ol>
                        </div>
                    </div> <!-- cd-faq__content -->
                </li>

                <li class="cd-faq__item">
                    <a class="cd-faq__trigger" href="#0"><span>How do I change my account settings?</span></a>
                    <div class="cd-faq__content">
                        <div class="text-component">
                            <ol>
                                <li>Go to Your Account and select Login & Security.</li>
                                <li>Click Edit next to the account information you'd like to update.</li>
                                <li>Follow the on-screen instructions and click Save Changes.</li>
                                <li>Click Done after you've completed all your updates.</li>
                            </ol>
                        </div>
                    </div> <!-- cd-faq__content -->
                </li>

                <li class="cd-faq__item">
                    <a class="cd-faq__trigger" href="#0"><span>I forgot my password. How do I reset it?</span></a>
                    <div class="cd-faq__content">
                        <div class="text-component">
                            <ol>
                                <li>Follow the steps to recover your account. You'll be asked some questions to confirm
                                    it's
                                    your account and an email will be sent to you. If you don’t get an email:<br>
                                    <ul>
                                        <li>Check your Spam or Bulk Mail folders</li>
                                        <li>Add noreply@google.com to your address book.</li>
                                        <li>To request another email, follow the steps to recover your account .</li>
                                        <li>Check all email addresses you might've used to sign up or sign in to your
                                            account.</li>
                                    </ul>
                                <li>Choose a password that you haven't already used with this account.</li>
                            </ol>
                        </div>
                    </div> <!-- cd-faq__content -->
                </li>
            </ul> <!-- cd-faq__group -->

            <ul id="payments" class="cd-faq__group">
                <li class="cd-faq__title">
                    <h2>Certify Me Requirements</h2>
                </li>
                <li class="cd-faq__item">
                    <a class="cd-faq__trigger" href="#0"><span>Who is Certify Me for ?</span></a>
                    <div class="cd-faq__content">
                        <div class="text-component">
                            <p>Certify Me is only available to highschool students, who are juniors and seniors looking
                                for a rewarding career, that gains real-world experience without hassle of taking out
                                huge loans for school education.</p>
                        </div>
                    </div> <!-- cd-faq__content -->
                </li>

                <li class="cd-faq__item">
                    <a class="cd-faq__trigger" href="#0"><span>What experience do I need get be accpeted into Certify
                            Me?</span></a>
                    <div class="cd-faq__content">
                        <div class="text-component">
                            <p>No experience or pre-requisites required, but you have to be an active junior or senior
                                highschool student.</p>
                        </div>
                    </div> <!-- cd-faq__content -->
                </li>

                <li class="cd-faq__item">
                    <a class="cd-faq__trigger" href="#0"><span>Acception into Certify Me.</span></a>
                    <div class="cd-faq__content">
                        <div class="text-component">
                            <p>Once students have been accepted into Certify Me program, students are required to
                                complete an assessment test. Once completed, then students have to attend a Certify Me
                                workshop to go over the program and meet with staff for guidance.</p>
                        </div>
                    </div> <!-- cd-faq__content -->
                </li>
            </ul> <!-- cd-faq__group -->

            <ul id="privacy" class="cd-faq__group">
                <li class="cd-faq__title">
                    <h2>Overview</h2>
                </li>
                <li class="cd-faq__item">
                    <a class="cd-faq__trigger" href="#0"><span>What are the attendance rules?</span></a>
                    <div class="cd-faq__content">
                        <div class="text-component">
                            <p>Certify Me Students are required to have 90% of attendance, in order to receive
                                certificate. Life happens
                                and I know sometimes we're not able make it to our classes. But doctors notes are
                                accepted, always make sure that you contact your Certify Me teacher to inform about your
                                absents.
                            </p>
                        </div>
                    </div> <!-- cd-faq__content -->
                </li>

                <li class="cd-faq__item">
                    <a class="cd-faq__trigger" href="#0"><span>What are Certify Me dress code?</span></a>
                    <div class="cd-faq__content">
                        <div class="text-component">
                            <ol>
                                <li>All students are required to wear appropriate footwear for school (no slippers).
                                </li>
                                <li>All shirts and tops must cover the midriff at all times. The following are examples
                                    of clothing that is unacceptable: tank tops w/ straps thinner than 2 inches,
                                    strapless, spaghetti straps, off-the-shoulder, cut-out designs, low-cut shirts,
                                    bare-back, sheer or mesh clothing that does not have an appropriate blouse or shirt
                                    underneath, etc. Boys must wear shirts with sleeves.</li>
                                <li>All pants and shorts must fit at the waist. No sagging or low riding will be
                                    permitted. Clothing must cover undergarments when sitting, standing, or bending.
                                </li>
                                <li>Hemlines and slits on dresses, skirts, and shorts above mid-thigh are not
                                    acceptable. Length cannot be shorter than the tip of the fingers when arms are
                                    placed straight at the sides of the body.</li>
                                <li>Only school hats and headwear are acceptable and must be worn with brim forward.
                                    Non-PHS head wear (including scarves, bandanas, or other head dressings) may not be
                                    brought on to campus. Headwear that does not comply with the dress code will be
                                    confiscated whether or not a student is wearing the item.</li>
                                <li>Clothing and hair accessories that are unsafe and/or dangerous are not permitted.
                                </li>
                                <li>Clothing or jewelry that depicts any “gang style” writing; illegal activity;
                                    sexually related or obscene gestures and material; tobacco; drugs; alcohol; or
                                    words, pictures, or phrases that depicts violence or intimidation may not be worn.
                                </li>
                                <li>Any body piercing that presents a safety issue or major distraction will not be
                                    allowed.</li>
                                <li>Any clothing or styles of dress that may be construed to provoke fear, violence, or
                                    intimidation, including gang-related attire, is not acceptable.</li>
                            </ol>
                        </div>
                    </div> <!-- cd-faq__content -->
                </li>

                <li class="cd-faq__item">
                    <a class="cd-faq__trigger" href="#0"><span>Certify Me class behavior standards.</span></a>
                    <div class="cd-faq__content">
                        <div class="text-component">
                            <ol>
                                1.Respect yourself, the teacher & others
                                <ul>
                                    <li>Show respect for the teacher, yourself and others at all times.</li>

                                    <li>Respect others’ property. Avoid touching or writing on anything that does not
                                        belong
                                        to you (including desks, textbooks, teacher’s belongings, walls, chalkboard,
                                        etc.).
                                        Don't expect that others will clean-up your messes. Please pick-up after
                                        yourself.</li>

                                    <li>Respect yourself and the rest of us by using appropriate language and wearing
                                        appropriate clothing.</li>

                                    <li>Be a kind person.</li>
                                </ul>
                            </ol>
                            <ol>

                                2. Put forth your best effort at all times
                                <ul>
                                    <li>Always do your own best work.</li>

                                    <li>Put learning ahead of getting good grades.</li>

                                    <li>Put quality ahead of just getting it done.</li>
                                </ul>
                                <ol>

                                    <ol>
                                        3. Be prepared for class each day
                                        <ul>
                                            <li>Come prepared with all materials necessary:</li>

                                            <li>An organized class binder containing all necessary materials and
                                                handouts.</li>

                                            <li>Looseleaf paper, pens (blue or black), and pencils.</li>

                                            <li>A red or purple pen for grading in class or underlining important
                                                elements in note
                                                taking.</li>

                                            <li>Highlighters for emphasizing important text.</li>

                                            <li>planner to help keep you organized - the most successful students are
                                                organized.</li>
                                        </ul>
                                    </ol>

                                    <ol>
                                        4. Follow directions when given
                                        <ul>
                                            <li>When directions are given, do your best to follow them the first time.
                                                If you are
                                                confused or have questions, ask. I would rather have you stop class to
                                                clarify than be
                                                off task while everyone else is working.</li>
                                        </ul>
                                    </ol>

                                    <ol>
                                        5. Pay attention, participate and ask questions
                                        <ul>
                                            <li>Engage in what is going on in the classroom. If you have a question, ask
                                                it!
                                                Otherwise, I might not know until the test that you did not understand
                                                something. There
                                                are no stupid questions, and chances are, if you are wondering about it,
                                                someone else in
                                                the class is to. Be proactive about your learning and don’t be afraid to
                                                ask for help.
                                                If you feel most comfortable waiting until after class, that is okay,
                                                too, but do keep
                                                communication open between us.</li>
                                        </ul>
                                    </ol>

                                    <ol>
                                        6. Preserve a positive learning environment
                                        <ul>
                                            <li>Student actions that interfere with teaching or learning in the
                                                classroom will NOT be
                                                tolerated.</li>

                                            <li>Use class time to learn history/government. Please do not spend your
                                                time grooming,
                                                sleeping, talking, writing notes, playing cards, listening to you Ipod,
                                                text-messaging
                                                friends, or doing work for other classes.</li>

                                            <li>Minimize classroom interruptions by arriving to class on time and not
                                                leaving the
                                                classroom during the hour.</li>
                                        </ul>
                                    </ol>
                                    <ol>
                                        7. Take responsibility for your actions
                                        <ul>
                                            <li>If you are confronted about a rule infraction, own up to it. Don’t deny
                                                it, lie about
                                                it, or blame someone else.</li>

                                            <li>Take responsibility for missed assignments.</li>

                                            <li>All handbook rules will be enforced. Please read your handbook. Students
                                                that choose
                                                to break these rules, choose to have points taken away from their
                                                learning readiness
                                                grade, and face the possibility of additional consequences.</li>
                                        </ul>
                                    </ol>
                        </div>
                    </div> <!-- cd-faq__content -->
                </li>



                <a href="/" class="up" id="return">Return</a>

            <div class="cd-faq__overlay" aria-hidden="true"></div>
    </section> <!-- cd-faq -->
    <script src="assets/js/util.js"></script> <!-- util functions included in the CodyHouse framework -->
    <script src="assets/js/main.js"></script>
</body>

</html>